* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 36px;
  color: #fff;
  background-color: #3c3a39;
  height: 92px;
}

.logo {
  color: #fff;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  height: 24px;
  text-decoration: none;
}

.section {
  display: flex;
  background-color: #1c1a19;
  background-image: url(./images/bg-img.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  flex-direction: column;
  align-items: flex-start;
  padding: 110px 24px;
  width: 100%;
  height: 610px;
  color: #fff;
  gap: 12px;
}

.main-title {
  height: 124px;
  color: #ff6b00;
  font-size: 60px;
  line-height: 67px;
  font-weight: 600;
  font-family: 'Crete Round', serif;
  width: 100%;
  margin-bottom: 10px;
}

.sub-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  width: 100%;
  max-width: 600px;
  color: #fff5e1;
  align-items: center;
}

.description {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  width: 100%;
  margin-top: 12px;
  font-style: normal;
  max-width: 600px;
}

.social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
  max-width: 140px;
  height: 50%;
  gap: 15px;
  list-style-type: none;
  position: relative;
  margin-top: 15px;
}

.social {
  height: 20px;
  width: 20px;
}

.section2 {
  background-color: #fff;
}

.recent {
  width: 325px;
  height: 99px;
  font-family: 'Crete Round', serif;
  font-weight: 440;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  text-align: center;
  margin-left: 45px;
  margin-top: 158px;
  color: #1c1a19;
}

hr {
  margin-top: 15px;
  width: 318px;
  margin-left: 46px;
}

.ballet {
  margin-left: 41px;
  margin-top: 90px;
}

.multi-post {
  font-family: 'Crete Round', serif;
  font-weight: 350;
  font-size: 30px;
  margin-left: 39px;
  margin-top: 35px;
  color: #091e42;
}

.daily {
  font-family: 'Inter', serif;
  margin-left: 39px;
  font-size: 16px;
  width: 327;
  display: block;
  font-weight: 14;
  color: #091e42;
  line-height: 38px;
  font-style: normal;
  margin-top: 19px;
}

.css {
  margin-left: 39px;
  height: 40px;
  margin-top: 24px;
}

.html {
  margin-left: 9px;
  height: 40px;
  margin-top: 24px;
}

.bootstrap {
  margin-left: 9px;
  height: 40px;
  margin-top: 24px;
}

.ruby {
  margin-left: 9px;
  height: 40px;
  margin-top: 24px;
}

.see-project {
  margin-left: 39px;
  height: 52px;
  margin-top: 24px;
}

.project-heading img {
  margin-left: 40px;
  width: auto;
}

.project-heading {
  position: relative;
  display: flex;
  flex-direction: column;
}

.project {
  background-image: url(./images/Img\ Placeholder.png);
  background-repeat: no-repeat;
  width: 600px;
  height: 100vh;
  background-size: cover;
}

.project-heading h1 {
  position: absolute;
  color: white;
  top: 92px;
  width: 200px;
  height: 120px;
  font-size: 27px;
  margin-left: 36px;
  font-weight: 400;
  font-family: 'Crete Round', serif;
}

.project-heading p {
  position: absolute;
  color: white;
  margin-bottom: 28px;
  top: 23;
  padding: 32px;
  width: 400px;
  height: 180px;
  font-size: 19px;
  margin-left: 8px;
  margin-right: 49px;
  margin-top: 140px;
  font-family: 'Inter', serif;
  font-weight: 400;
}

.projects-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.project-lists ul {
  list-style: none;
  display: flex;
  flex-grow: 0;
  margin-top: 23px;
}

.project-lists li {
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.24);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 12px;
  color: #fff;
  margin-bottom: 22px;
}

.project-item-1 {
  display: flex;
  margin-left: 41px;
  margin-right: 12px;
  width: 56px;
  height: 40px;
  order: 0;
  margin-top: 270px;
}

.project-item-2 {
  display: flex;
  margin-right: 12px;
  width: 95px;
  height: 40px;
  order: 1;
  margin-top: 270px;
}

.project-item-3 {
  display: flex;
  margin-right: 75px;
  width: 61px;
  height: 40px;
  order: 2;
  margin-top: 270px;
}

.project-item {
  margin: 12px;
}

.project-lists link {
  align-items: center;
  text-align: center;
  background-color: #ff6b00;
  width: 100%;
  height: 148px;
}

.project-list {
  align-items: center;
  background-color: #ff6b00;
  width: 100%;
  height: 85px;
  margin-top: 220px;
}

.project-list a {
  width: 100px;
  height: 24px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-left: 94px;
  text-decoration: none;
}

.about-sec {
  background-color: #1c1a19;
}

.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
  background-image: url(./images/bg-img.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-right: 0;
}

.about-me h1 {
  display: flex;
  align-items: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 120px 20px 0;
}

.about-me p {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 24px 24px;
  text-align: justify;
}

.about-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  margin-left: 24px;
  margin-right: 190px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-bottom: 221px;
}

.about-link .button {
  text-decoration: none;
  color: #fff;
  width: 137px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px 12px;
}

.about-sec hr {
  border: 1px solid #fff;
  margin-left: 24px;
  margin-right: 24px;
}

.languages {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  margin: 128px 74.77px 36px;
}

.languages h2 {
  display: flex;
  align-items: center;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.languages ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 94.5px;
  margin-right: 94.5px;
}

.languages li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 32px;
}

.framework {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
}

.frames {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  margin: 47px 32px;
}

.frames h2 {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.framework ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 94.5px;
  margin-right: 94.5px;
}

.framework li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 32px;
}

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  margin: 32px 103px;
}

.skill h2 {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 32px 118.5px 119.54px;
}

.skills li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 32px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-section h2 {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding: 120px 24px 50px 24px;
}

.contact-form-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contact-form-list li {
  padding: 12px 0 12px 0;
}

.input-boxes {
  width: 300px;
  border: none;
  border-bottom: 1px solid #d0d9d4;
  background: transparent;
}

.input-box-text {
  height: 40px;
  padding: 0 0 0 15px;
}

textarea {
  font-family: 'Inter', sans-serif;
  padding: 12px 0 0 12px;
  color: #091e42;
  width: 300px;
  height: 100px;
  border-radius: 4px;
  background-color: #fbf8f7;
}

textarea::placeholder {
  color: #091e42;
}

.contact-form-list button {
  background-color: #ff6b00;
  padding: 12px 18px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin-bottom: 100px;
}
