* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 1;
}

body {
  background: #f5f5f5;
}

a {
  text-decoration: none;
}

.row {
  width: 60%;
  margin: 0 auto;
}

/* .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 36px;
  color: #fff;
  background-color: #3c3a39;
  height: 92px;
} */

.logo {
  color: #fff;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  height: 24px;
  text-decoration: none;

  /* margin-right: 759px; */
  margin-left: 111px;

  /* padding: 18px; */
}

.navbar ul {
  /* margin: 0;
  padding: 0; */
  display: flex;
  margin-right: 30px;
}

.navbar li {
  list-style: none;
}

.project-list a {
  width: 100px;
  height: 24px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-left: 96px;
  text-decoration: none;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 133%;
}

.navbar {
  /* width: auto; */
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin-top: 20px;

  /* padding: 20px 24px 12px 24px; */
}

header {
  position: fixed;
  width: 100%;
  background-color: #3c3a39;
  padding-bottom: 12px;
  z-index: 1;
}

.social-icons {
  display: flex;
  flex-direction: row;
  transform: translateY(-150%);
}

.social-wrapper {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  top: 100%;

  /* margin-bottom: 190px; */

  /* margin-left: 80px;
  margin-right: 10px; */
  list-style: none;
}

.recentwork {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  min-width: 1033px;
  min-height: 32px;
}

hr {
  margin-top: 15px;
  width: 318px;
  margin-left: 46px;
}

.recentwork hr {
  margin-top: 10px;
  margin-right: 350px;
}

.ballet1 {
  display: flex;
  flex-direction: column;
}

/* .container nav {
  margin-right: 720px;
  display: flex;

}

.container .nav1 {
  margin-right: 430px;
  display: flex;
}

.container .nav2 {
  margin-right: 300px;
  display: flex;
}  */

/* .container p {
  flex-direction: row;
  gap: 2px;
  position: relative;
} */

/* .nav {
  /* width: 17px;
  height: 40px; */

/* display: flex;
  flex-direction: space-between;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px; */

/* } */

.nav1 {
  /* width: 25px;
  height: 20px; */
  display: flex;
  flex-direction: space-between;
  margin-right: -122px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.nav2 {
  /* width: 59px;
  height: 20px; */
  display: flex;
  flex-direction: space-between;
  margin-left: -292px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.section {
  display: flex;
  background-color: #1c1a19;
  background-image: url(./images/Illustration-header.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 24px;
  width: 100%;
  height: 610px;
  color: #fff;
  gap: 12px;
}

.section1 {
  margin-left: 80px;
}

.main-title {
  /* height: 124px; */
  color: #ff6b00;
  font-size: 60px;
  line-height: 67px;
  font-weight: 600;
  font-family: 'Crete Round', serif;
  width: 100%;
  margin-top: 70px;

  /* margin-le */
}

.sub-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  width: 100%;
  max-width: 600px;
  color: #fff5e1;
  align-items: center;
}

.description {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  width: 100%;
  margin-top: 12px;
  font-style: normal;
  max-width: 600px;
}

.social {
  height: 20px;
  width: 20px;

  /* margin-bottom: 50px; */
}

.section2 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.recent {
  min-width: 325px;
  min-height: 99px;
  font-family: 'Crete Round', serif;
  font-weight: 440;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  text-align: center;
  margin-right: 284px;
  margin-top: 150px;
  color: #1c1a19;
}

.ballet {
  margin-left: 81px;
  margin-top: 90px;
  width: 550px;
}

.multi-post {
  font-family: 'Crete Round', serif;
  font-weight: 350;
  font-size: 30px;
  margin-left: 79px;
  margin-top: 35px;
  color: #091e42;
}

.daily {
  font-family: 'Inter', serif;
  margin-left: 39px;
  font-size: 16px;
  min-width: 327;
  display: block;
  font-weight: 14;
  color: #091e42;
  line-height: 38px;
  font-style: normal;
  margin-top: 19px;
}

/* .css {
  margin-left: 39px;
  height: 40px;
  margin-top: 24px;
} */

/* .html {
  margin-left: 9px;
  height: 40px;
  margin-top: 24px;
} */

/* .bootstrap {
  margin-left: 9px;
  height: 40px;
  margin-top: 24px;
} */

/* .ruby {
  margin-left: 9px;
  height: 40px;
  margin-top: 24px;
} */

/* .see-project {
  margin-left: 39px;
  height: 52px;
  margin-top: 24px;
} */

.listbutton {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 62px;
}

.button1,
.button2,
.button3,
.button4 {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
  margin: 12px 0;
}

.button5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 62px;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  color: #fff;
  border: none;
}

.project-heading {
  position: relative;
  display: flex;
  flex-direction: column;
}

.project {
  background-image: url(./images/Img\ Placeholder.png);
  background-repeat: no-repeat;
  width: 327px;
  height: 386px;
  height: 100vh;
  margin: 0 12px 5px 26px;
  background-size: cover;
}

.project-heading h1 {
  position: absolute;
  color: white;
  top: 92px;
  width: 200px;
  height: 120px;
  font-size: 27px;
  margin-left: 36px;
  font-weight: 400;
  font-family: 'Crete Round', serif;
}

.project-heading p {
  position: absolute;
  color: white;
  margin-bottom: 28px;
  top: 23;
  padding: 32px;
  width: 400px;
  height: 180px;
  font-size: 19px;
  margin-left: 8px;
  margin-right: 49px;
  margin-top: 140px;
  font-family: 'Inter', serif;
  font-weight: 400;
}

.project-list {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  background-color: #ff6b00;
  width: 100%;
  height: 85px;
  margin-top: 220px;
}

.project-lists ul {
  list-style: none;
  display: flex;
  flex-grow: 0;
  margin-top: 23px;
}

.project-lists li {
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.24);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 12px;
  color: #fff;
  margin-bottom: 22px;
}

.project-item-1 {
  display: flex;
  margin-left: 41px;
  margin-right: 12px;
  width: 56px;
  height: 40px;
  order: 0;
  margin-top: 270px;
}

.project-item-2 {
  display: flex;
  margin-right: 12px;
  width: 95px;
  height: 40px;
  order: 1;
  margin-top: 270px;
}

.project-item-3 {
  display: flex;
  margin-right: 75px;
  width: 61px;
  height: 40px;
  order: 2;
  margin-top: 270px;
}

.project-item {
  margin: 12px;
}

.project-lists link {
  align-items: center;
  text-align: center;
  background-color: #ff6b00;
  width: 100%;
  height: 148px;
}

/* .project-list {
  align-items: center;
  background-color: #ff6b00;
  width: 100%;
  height: 85px;
  margin-top: 220px;
} */

.link {
  margin: 0 0 8px 13px;
}

.about-sec {
  background-color: #1c1a19;
}

.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
  background-image: url(./images/bg-img.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-right: 0;
  margin-top: 142px;
}

.about-me h1 {
  display: flex;
  align-items: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 120px 20px 0;
}

.about-me p {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 24px 24px;
  text-align: justify;
}

.about-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  margin-left: 24px;
  margin-right: 190px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-bottom: 221px;
}

.about-link .button {
  text-decoration: none;
  color: #fff;
  width: 137px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px 12px;
}

.about-sec hr {
  border: 1px solid #fff;
  margin-left: 24px;
  margin-right: 24px;
}

.languages {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  margin: 128px 74.77px 36px;
}

.languages h2 {
  display: flex;
  align-items: center;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.languages ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 94.5px;
  margin-right: 94.5px;
}

.languages li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 32px;
}

.framework {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
}

.frames {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  margin: 47px 32px;
}

.frames h2 {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.framework ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 94.5px;
  margin-right: 94.5px;
}

.framework li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 32px;
}

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  margin: 32px 103px;
}

.skill h2 {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 32px 118.5px 119.54px;
}

.skills li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 32px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-section h2 {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding: 120px 24px 50px 24px;
}

.contact-form-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contact-form-list li {
  padding: 12px 0 12px 0;
}

.input-boxes {
  width: 300px;
  border: none;
  border-bottom: 1px solid #d0d9d4;
  background: transparent;
}

.input-box-text {
  height: 40px;
  padding: 0 0 0 15px;
}

textarea {
  font-family: 'Inter', sans-serif;
  padding: 12px 0 0 12px;
  color: #091e42;
  width: 300px;
  height: 100px;
  border-radius: 4px;
  background-color: #fbf8f7;
}

textarea::placeholder {
  color: #091e42;
}

.contact-form-list button {
  background-color: #ff6b00;
  padding: 12px 18px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin-bottom: 100px;
}

.color {
  /* background: #505f79; */
  border-top: 1px solid #dfe1e6;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-icons-color li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  text-decoration: none;
}

.social-wrapper1 {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.social-wrapper1 li {
  margin-right: 20px;
}

/* ---- desktop version --- media query--- */
@media screen and (max-width: 768px) {
  #menu ul li a {
    list-style: none;
    display: none;
    margin-left: 40px;
  }

  /* #menu a {
    margin-left: 20px;
  } */

  .menu-line {
    width: 24px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
  }

  .menu-icon {
    /* display: none; */
    margin-right: 19px;
    margin-bottom: 12px;
    display: block;
    position: absolute;
    right: 18px;
  }

  /* .container {
    display: flex;
    justify-content: space-between;
  } */

  .section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5%;
    margin-left: 0;
    padding-left: 0;
    background-image: url(./images/bg-img.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
  }

  .section2 {
    background-color: #fff;

    /* display: flex;
    flex-direction: column; */
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 80px;
  }

  .social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* margin-left: 10px; */
    max-width: 100%;

    /* margin-bottom: 70px; */
    height: 50%;
    gap: 15px;
  }

  /* .social-wrapper li img {
  display: grid;
  flex-direction: column;

} */

  /* .section {
  display: flex;
  gap: 20px;
} */

  /* .social-icons {
    display: flex;
    flex-direction: column;
  } */

  .main-title {
    margin-bottom: 0;
  }

  .sub-title {
    margin: 4% 0;
  }

  .recentwork {
    display: flex;
    flex-direction: column;
    margin-right: 13px;
  }

  .listbutton {
    list-style: none;
    display: flex;
    gap: 12px;
    margin-top: 1rem;
  }
}
